.container-fluid {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.content {
    height: 100%;
    overflow-y: auto;
    background-color: #28282B;
    font-family: Arial, Helvetica, sans-serif;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 0;
}
.page-title {
    justify-self: center;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}
.second-header {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 0px 0;
    margin: 0;
}
.dashboard {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background: #000000;
    border-style: none;
    border-width: 5px;
    border-color: #28282B;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
hr {
    margin: 0;
    margin-bottom: 10px;
}
.data-list {
    width: 100%;
    background-color: #28282B;
    padding: 10px;
    margin: 0;
}
/* Table */
.content-table {
    background-color: white;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    min-width: 100%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}
.content-table thead tr {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #28282B;
}
.status-box {
    width: 90%;
    background-color: #28282B;
    border-style: dashed;
    border-color: #ffffff;
    padding: 20px 40px;
}
/* Forms */
.form-group {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-control {
    font-size: 1em;
}
/* Auth */
.background-vid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.logo {
    width: 80px;
    display: inherit;
    justify-self: right;
}
.account {
    height: fit-content;
    width: 550px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    border-radius: 24px;
    padding: 40px 60px;
}
.account h1 {
    font-family: monospace;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0;
}
.btn-account {
    color: white;
    background-color: #28282B;
    border: none;
    margin-right: 10px;
}
.btn-account:hover {
    color: white;
    background-color: #023020;
}
.account a {
    color: black;
    text-decoration: none;
}
.account a:hover {
    color: #023020;
    text-decoration: none;
}
.view-password {
    text-align: right;
}
/* Sidebar */
.sidebar {
    background-color: whitesmoke;
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    margin: 0;
}
.nav {
    height: 100%;
    width: 100%;
}
.active-nav {
    background-color: black;
    transition: 0.3s;
    padding: 10px;
}
.nav h6 {
    text-align: right;
}
.nav-link {
    color: black;
    font-size: 15px;
    transition: 0.3s;
    padding: 10px;
}
.nav-link:hover {
    color: #ffffff;
    background-color: #023020;
}
#today {
    padding-bottom: 24px;
    font-size: 12px;
}
.logout {
    color: black;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
    padding-bottom: 24px;
}
.logout:hover {
    color: #023020;
}
/* Job */
.btn-job {
    color: white;
    background-color: black;
}
.btn-job:hover {
    color: white;
    background-color: #023020;
}
.toggle-form {
    display: none;
}
/* Feedback */
.error {
    color: red;
    text-align: center;
}
.success {
    color: green;
    text-align: center;
}
/* Icons */
i {
    font-size: 1rem;
}
/* Pages */
.pages {
    width: 20%;
}
.page-item.active .page-link{
    background-color: #28282B;
    border-color: white;
}
.page-link {
    color: black;
    border-color: white;
}
.page-link:hover {
    background-color: #023020;
    color: #fff;
}